# ===============================
# Java / Kotlin
# ===============================
*.class
*.jar
*.war
*.ear

# ===============================
# Build tools
# ===============================
/target/
/build/
.gradle/
out/

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# SQLite databases
# ===============================
*.db
*.db-journal

# ===============================
# Env / Secrets
# ===============================
.env
*.prompt
dependency-reduced-pom.xml
